@import "../variables.scss";

.btn {
    font-family: $font-family;
    font-size: $font-size--base;
    font-weight: bold;
    text-align: center;
    border-radius: $border-radius--base;
    padding: 12px;
    cursor: pointer;
    transition: background-color .75s;

    &:focus {
        outline: 2px dotted $black;
        outline-offset: 2px;
    }

    &.btn--big {
        padding: 16px;
    }

    &.btn--small {
        padding: 8px;
    }

    &.btn--primary {
        color: $primary-color--bold;
        border: 2px solid $primary-color--bold;

        &:hover {
            background-color: $primary-color--bold;
            color: $white;
        }

        &.btn--filled {
            color: $white;
            background-color: $primary-color--bold;

            &:hover {
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    &.btn--secondary {
        color: $primary-color--bold;
        border: 2px solid $secodary-color;

        &:hover {
            background-color: $secodary-color;
        }

        &.btn--filled {
            background-color: $secodary-color;
        }

        &:hover {
            background-color: $secodary-color--medium;
            border-color: $secodary-color--medium;
        }
    }
}