---
interface Props {
  type: "primary" | "secondary";
  size?: "big" | "small";
  fill?: boolean;
  ariaLabel?: string;
}
const { type, fill, size, ariaLabel } = Astro.props;
---

<button
  class:list={["btn", `btn--${type}`, { "btn--filled": fill }, `btn--${size}`]}
  aria-label={ariaLabel}
>
  <slot />
</button>

<style lang="scss">
  @import "../styles/components/_buttons.scss";
</style>
